nav .navbar-brand
{
    /* size for brand */
    font-size: xx-large;
}

/* Colors for brand */
.kalendar-violet {
    color: #5f27cd;
}
.kalendar-bg-violet, .kalendar-violet-hollow:hover {
   background-color: #5f27cd;
   border-color: #5f27cd;
   color: white;
}

.kalendar-nav-violet {
    background-color: #5f27cd;
    border-color: #5f27cd;
    color: white;
 }

.kalendar-violet-hollow {
    border-color: #5f27cd;
    color: white;
}

.kalendar-violet-od {
    color: #9f35ff;
}

.kalendar-violet-od-hollow {
    border-color: #9f35ff;
    color: white;
}

.kalendar-bg-violet:active, .kalendar-bg-violet:hover, .kalendar-violet-od-hollow:hover {
    background-color: #9f35ff !important;
    border-color: #9f35ff !important;
    color: white !important;
 }

.kalendar-yellow {
    color: #ff9f43;
}

.kalendar-bg-yellow {
    background-color: rgb(255,159,67);
    border-color: rgb(255,159,67);
    color: #17191b;
}

.kalendar-bg-yellow:hover {
    background-color: #ffb064;
    border-color: #ffb064;
    color: #17191b;
}

.kalendar-red {
    background-color: transparent;
    border-color: #e62965;
    color: #e62965;
}

.kalendar-red:hover, .kalendar-alert-red {
    background-color: #e62965;
    border-color: #e62965;
    color: white;
    opacity: 0.9;
}

.kalendar-bg-white {
    background-color: white;
    border-color: white;
    color: #222f3e;
}

.kalendar-bg-white:active, .kalendar-bg-white:hover {
    background-color: #efefef;
}

.kalendar-white-hollow {
    border-color: white;
    color: white;
}

.kalendar-white-hollow:hover {
    border-color: white;
    background-color: white;
    color: #5f27cd;
}

.kalendar-navy {
    color: #222f3e;
}
.kalendar-bg-neutral {
    background-color: #f5f6fa;
    border-color: #f5f6fa;
    color: #222f3e;
}

.kalendar-bg-dark {
    background-color: #17191b;
    color: white;
}

.kalendar-bg-darker {
    background-color: #141417;
    color: white;
}

.kalendar-inner-dark {
    background-color: #09090a45;
    color: white;
}

/*----- start of theme CSS -----*/

header {
    width: 100%;
    background: transparent;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
}

main .form-control
{
    /* Center form controls */
    display: inline-block;

    /* Override Bootstrap's 100% width for form controls */
    width: auto;
}

main
{
    /* Scroll horizontally as needed */
    overflow-x: auto;

    /* Center contents */
    text-align: center;
}

main img
{
    /* Constrain images on small screens */
    max-width: 100%;
}

.top-section {
    padding-top: 15rem !important;
}

#nav-logo {
    width: 30px;
    height: auto;
    margin-right: 5px;
}

.navbar a {
    color: white;
}

.navbar .nav-link.active {
    color: #ff9f43;
}

p, span, a, label, th, td, button, .popover {
    font-family: "Rubik", sans-serif;
}

h5, h4, h3, h2, h1 {
    font-family: 'Rubik', sans-serif;
}

nav .navbar-brand h3, h2, h1 {
    font-weight: 800;
}

h2 {
    font-size: 2rem;
}

nav .navbar-brand h3 {
    margin: 0;
    display: inline-block;
}

.nav-bar-icon {
    color: white;
    font-size: 2rem;
}

/* entire underline slide code from https://www.codexpedia.com/css/css-sliding-underline-effect-on-hover/ */
.slide-in-out 
{
    text-decoration:none;
    color:white;
    display: inline-block;
    position: relative; /* prepare the position for sliding in and out */
}
/* add a empty string before the elment with class .slide-in-out  */
.slide-in-out:before 
{
    content: '';
    display: block;
    height: 3px;
    width: 0;
    transition: width 0s ease, background-color .5s ease;
    -webkit-transition: width 0s ease, background-color .5s ease;
    -moz-transition: width 0s ease, background-color .5s ease;
     
    /* position the content to the left bottom corner of the parent element to make it to slide in from left to right on hover */
    position: absolute;
    left: 0;
    bottom: 0;
}
/* add a empty string after the elment with class .slide-in-out  */
.slide-in-out:after 
{
    content: '';
    display: block;
    height: 3px;
    width: 0;
    background: white;
    transition: width .5s ease;
    -webkit-transition: width .5s ease, background-color .5s ease;
    -moz-transition: width .5s ease, background-color .5s ease;
     
    /* position the content to the left bottom corner of the parent element to make it to slide out from left to right on hover */
    position: absolute;
    right: 0;
    bottom: 0;
}
 
/* Change the width and background on hover, aka sliding in and out */
.slide-in-out:hover:before 
{
    width: 100%;
    background: white;
    transition: width .5s ease;
    -webkit-transition: width .5s ease;
    -moz-transition: width .5s ease;
}
.slide-in-out:hover:after 
{
    width: 100%;
    background: transparent;
    transition: all 0s ease;
    -webkit-transition: width 0s ease;
    -moz-transition: width .0s ease;
}

@media (max-width: 768px) {
    .desktop-only {
        display: none;
    }
}

.modal-header {
    border-bottom: 1px solid #434546;
}

.modal-footer {
    border-top: 1px solid #434546;
}

.footer-container {
    padding-top: 2rem;
    text-align: center;
    font-size: 0.75rem;
}

.footer-container a {
    color: #9f35ff;
}
.footer-container a:hover {
    text-decoration: none;
}

.footer-container ul {
    padding: 0;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

.footer-links li {
    display: inline-block;
}

.footer-links li:not(:last-child):after {
    content:"|";
    padding: 0 10px;
}

.navbar-nav .nav-link, #navbar button {
    font-size: 1.2rem;
}

.navbar-nav .nav-link {
    padding: 1rem 1rem;
}

#navbar button {
    margin: 1rem 1rem;
}

@media (min-width: 768px) {
    .navbar-nav .nav-link {
        padding: .5rem 1rem;
        font-size: 1.2rem;
    }
    .footer-container {
        text-align: left;
    }

    .footer-container ul {
        padding: 0;
        margin-left: 0;
        margin-right: 0;
        width: 100%;
    }
}
/*----- end of theme CSS -----*/


/*----- start of index page CSS -----*/
.index-container {
    background-color: #5f27cd;
    padding-top: 5rem;
}

#banner-header-1 {
    display: block;
    width: 100%;
    color: white;
}

#index-banner-header {
    font-size: 3rem;
    color: white;
    letter-spacing: 1px;
}

.index-banner-text {
    font-size: 1.4rem;
    color: white;
}

.banner-col-1 {
    text-align: left;
}

.banner-col-2 {
    padding-top: 4rem;
}

#banner-header-2 {
    position: relative;
    padding-bottom: 8px;
    z-index: 1;
    color: #ff9f43;
}

#banner-header-2::after {
    content: "";
    position: absolute;
    left: 7%;
    bottom: 8px;
    width: 105%;
    height: 14px;
    transform: skew(-12deg) translateX(-5%);
    background: #17191b;
    z-index: -1;
    opacity: 0.8;
}

#banner-btn {
    font-size: 1.4rem;
    border-radius: 0.5rem;
    padding: 0.5rem 1.5rem;
    margin-top: 2rem;
}

#how-to-header {
    font-size: 2rem;
}

.how-to-number {
    font-weight: 800;
    font-size: 7rem;
    display: inline-block;
    color: #9f35ff;
    transform: translate(-60%, -40%);
    position: absolute;
}

#how-to3 {
    transform: translate(-20%, -40%); 
}

.how-to-subheader {
    font-weight: 600;
    font-size: 3rem;
    display: inline-block;
    z-index: 1;
    position: relative;
}

.step-section {
    margin: 5rem 0rem;
}

.step-text {
    padding-top: 20%;
}

.step-btn {
    font-size: 1.2rem;
    margin-top: 1rem;
    padding: 0.5rem 1rem;
}

#step-image-3, #step-image-1 {
    max-width: 80%;
}

.how-to-text {
    font-size: 1.2rem;
    text-align: left;
}

#more-watching {
    position: relative;
    padding-bottom: 8px;
    z-index: 1;
}

#more-watching::after {
    content: "";
    position: absolute;
    left: 7%;
    bottom: 8px;
    width: 105%;
    height: 14px;
    transform: skew(-12deg) translateX(-5%);
    background: #ff9f43;
    z-index: -1;
    opacity: 0.8;
}

.we-do-text {
    font-size: 1.2rem;
    text-align: left;
    margin-top: 10px;
}

.we-do-column img {
    padding: 5px;
    width: 15%;
    border-radius: .5rem;
}

.we-do-subheader {
    color: #5f27cd;
    margin-left: 20px;
    font-size: 1.5rem;
    font-weight: 600;
    align-self: flex-end;
}

#we-do-header {
    margin: 0 auto 5rem auto;
    font-size: 2rem;
    width: 80%;
}

.we-do-info {
    margin-bottom: 5rem;
}

@media (min-width: 768px) {
    #index-banner-header {
        font-size: 5rem;
    }

    .banner-col-2 {
        padding-top: 0rem;
    }
    

    #banner-header-2::after {
        bottom: 16px;
    }

    #how-to-header, #we-do-header {
        font-size: 3rem;
    }

    #how-to3 {
        transform: translate(-60%, -40%); 
    }
    
    .step-text {
        padding-top: 10%;
    }

    #step-text-1, #step-text-3, #step-text-4 {
        padding-top: 7%
    }

    .step-btn {
        font-size: 1.4rem;
        margin-top: 1rem;
        padding: 0.5rem 1rem;
    }

    .we-do-column img {
        width: 20%;
    }

    .we-do-subheader {
        margin: 5px 0px;
        align-self: flex-start;
        color: #5f27cd;
        font-size: 2rem;
        font-weight: 600;
    }

    #more-watching::after {
        bottom: 16px;
    }

    .how-to-text {
        font-size: 1.4rem;
        text-align: left;
    }
}
/*----- end of index CSS -----*/


/*----- start of show page CSS -----*/


.show-container {
    padding-top: 5rem;
}

.show-banner {
    background: url("background-shapes-web.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 100%;
    padding-top: 5rem;
    height: 400px;
}

.show-banner p {
    font-size: 1.2rem;
    width: 80%;
    margin: auto;
}

.season-selection .btn[active], .season-selection .btn.active {
    background-color: #5f27cd !important;
    border-color: #5f27cd !important;
    color: white !important;
}

.season-selection .btn {
    padding: 0.5rem 0.75rem; 
}

.card-detail {
    text-align: left;
    padding-bottom: 0;
}
.card-detail p {
    margin-bottom: 0;
}

.card-buttons {
    position: absolute;
    bottom: .75rem;
    right: 1.25rem;
}

.card-buttons .bi-arrow-right {
    font-size: 17px;
    color: #9f35ff;
}

.card-buttons .bi-arrow-right::before {
    font-weight: 600!important;
}

.card {
    border: none;
}

.card-text {
    font-size: 0.75rem;
}

.card-body-container {
    border-radius: .25rem;
    border-right: 4px solid transparent;
}

.card-body-container:hover {
    border-right: 4px solid #9f35ff;
}

.card-body h5 {
    font-weight: 600;
    padding-bottom: 1rem;
    font-size: 1rem;
}

#dramaInfoModalLabel {
    font-weight: 600;
}

.modal {
    left: 50%;
    transform: translate(-50%, 0);
}

.close span {
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}

.info-subheader {
    margin-right: 5px;
}

#loading-title {
    width: 15rem;
    height: 1.5rem;
    border-radius: 2px;
    background:rgb(216, 216, 216);
}

.loading-line {
    width: 10rem;
    height: 0.3rem;
    border-radius: 5px;
    background:rgb(228, 228, 228);
}

.dramaInfotempImage, .dramaModalImage {
    background: rgb(216, 216, 216);
    height: 350px;
    width: auto;
    margin: 1rem;
    border-radius: .25rem;
}

@media (min-width: 768px) {
    .dramaInfotempImage, .dramaModalImage {
        width: calc(100% - 2rem);
    }

    .show-banner {
        background: url("background-shapes2.png");
        background-size: contain;
        background-repeat: no-repeat;
        background-position: 100%;
        padding-top: 10rem;
        height: 400px;
    }

    .show-banner p {
        font-size: 1.4rem;
        width: 64%;
        margin: auto;
    }

    .card-text {
        font-size: 0.85rem;
    }
}

#dramaInfoModalBody {
    text-align: left;
}

@media only screen and (min-width: 768px) {
    .season-selection {
        display: flex;
        justify-content: flex-end;
    } 
       
}
.shows-container {
    overflow-x: hidden;
}

/*----- end of show page CSS -----*/

/*----- start of calendar page CSS -----*/

.calendar-remove {
    color: transparent;
    background-color: transparent;
    border:none;
    padding: 1px;
}

#show-table {
    white-space: nowrap;
    text-align: left;
}

#show-table, #watchlist-header {
    color: white;
}

#show-table thead {
    background-color: #ff9f43;
    color: #222f3e;
}

#show-table thead tr th:last-child, #show-table tbody tr td:last-child,
#show-table thead tr th:first-child, #show-table tbody tr td:first-child {
    text-align: center;
}

.table-container {
    padding-bottom: 3rem;
}

@media (max-width: 768px) {
    #show-table thead tr th:first-child, #show-table tbody tr td:first-child,
    #show-table thead tr th:nth-child(3), #show-table tbody tr td:nth-child(3),
    #show-table thead tr th:nth-child(4), #show-table tbody tr td:nth-child(4),
    #show-table thead tr th:nth-child(5), #show-table tbody tr td:nth-child(5) {
        display:none;
    }

    #buttonContainers button {
        font-size: 1rem;
        line-height: 2;
    }
}


#show-table tbody tr td:nth-child(2), #show-table tbody {
    background-color: #17191b;
}

#show-table td {
    padding: 1rem 1.5rem;
    border-top: none;
    border-bottom: 1px solid #434546;
}

#show-table tr:last-child td {
    border-bottom: none;
}

#show-table th {
    font-weight: 600;
    padding: 1rem 1.5rem;
    border-bottom: none;
    border-top: none;
}

.calendar-remove {
    padding: 0;
}

.calendar-remove-icon {
    color: #e62965;
    width: 1rem;
}

#clear-all-btn {
    border-color: gray;
}

.calendar-container {
    padding-bottom: 60px;
    padding-top: 5rem;
}

#calendar-header, #watchlist-header {
    text-align: left;
}

.calendar-section {
    background: #09090a45;
}

@media (min-width: 768px) {
    .calendar-section {
        border-radius: .5rem;
    }
}

#calendar {
    padding: 0 15px;
}

@media (min-width: 768px) {
    #calendar {
        padding: 3rem;
    }
}

.fc-button-primary {
    border-color: #5f27cd !important;
    background: transparent !important;
    color: white !important;
 }

 .fc-button-active, .fc-button-primary:hover {
    background-color: #5f27cd!important;
    border-color: #5f27cd !important;
    color: white !important;
 }

 .fc-prev-button.fc-button-primary, .fc-next-button.fc-button-primary {
    background-color: #5f27cd!important;
    border-color: #5f27cd !important;
    color: white !important;
 }

 .fc-prev-button.fc-button-primary:hover , .fc-next-button.fc-button-primary:hover {
    background-color: #9f35ff !important;
    border-color: #9f35ff !important;
    color: white !important;
 }

 .fc-col-header a, .fc-list-day-cushion a  {
    color: white !important;
    font-weight: 600 !important;
 }

 .fc .fc-day-other .fc-daygrid-day-top{
    opacity: 0.8 !important;
 }

 .fc .fc-day-other .fc-daygrid-day-top .fc-daygrid-day-number {
     color: #5f27cd !important;
 }

 .fc-daygrid-day-number{
    color: #9f35ff !important;
 }

 .fc-event-title {
    font-weight: 400 !important;
 }

 .fc-toolbar-title,.fc-event-title {
    color: white !important;
 }

 .fc-event-time, .fc-list-event-time, .fc-day-today .fc-event-time  {
    color: #ff9f43 !important;
 }

 .fc-daygrid-event-dot, .fc-list-event-dot, .fc-day-today .fc-daygrid-event-dot {
    border-color: #ff9f43 !important;
 }

 .fc-day-today {
    background-color: #fff9f3 !important;
 }

 .fc-day-today .fc-event-title {
    color: #222f3e !important;
 }

 .fc-day-today .fc-event-title:hover {
    color: white !important;
 }

 a.fc-event:hover, .fc-list-day-cushion {
    background: #5f27cd !important;
 }

.popover-header {
    background-color: #5f27cd !important;
    color: white !important;
    padding: .25rem .75rem !important;
}

.popover .arrow {
    top: 20px !important;
}

.fc-list td, .fc-list th {
    border: 0 !important;
}

.fc .fc-list-event:hover td {
    background-color: #222f3e !important;
}

.toast {
    background-color: #f5f6fa;
}

.toast-header {
    color: #1dd1a1;
}

#FailDeleteToast .toast-header, #FailAddToast .toast-header {
    color: #e62965;
}

.toast-body {
    color: #17191b;
}

.toast-header .close, .toast-header .close:hover {
    color: black;
    opacity: 1;
    font-weight: 200;
}

.close, .close:hover {
    color: white;
    opacity: 1;
    font-weight: 200;
}

.kalendar-alert-red a {
    color: #17191b;
}

.alert {
    padding: 5rem 1.25rem;
}

/* Start of about us page CSS */

#about-header {
    position: relative;
    padding-bottom: 8px;
    z-index: 1;
    color: #17191b;
    font-size: 3rem;
}

#about-header::after {
    content: "";
    position: absolute;
    left: 7%;
    bottom: 8px;
    width: 105%;
    height: 14px;
    transform: skew(-12deg) translateX(-5%);
    background: #5f27cd;
    z-index: -1;
    opacity: 0.8;
}

.about-container {
    padding: 5rem 0 5rem 0;
    background-color: #ff9f43;
    color: #17191b;
    text-align: left;
}

.about-container h2 {
    color: white;
    padding-top: 5rem;
    font-size: 2.5rem;
    font-weight: 600;
}

.about-container p {
    padding-top: 3rem;
    font-size: 1.2rem;
}

.ps-icon-container {
    position: absolute;
}

#ps-icon {
    width: 80%;
}

.about-container a {
    color: #5f27cd;
}
/* End of about us page CSS */

/* Start of privacy page CSS */
.privacy-container, .terms-container {
    padding-top: 5rem;
}

.privacy-container h3, .privacy-container li, .privacy-container p,
.terms-container h3, .terms-container p {
    text-align: left;
}

.privacy-container a, .terms-container a{
    color: #5f27cd;
}
/* End of privacy page CSS */