nav .navbar-brand
{
    /* size for brand */
    font-size: xx-large;
}

/* Colors for brand */
nav .navbar-brand .blue
{
    color: #537fbe;
}
nav .navbar-brand .red
{
    color: #ea433b;
}
nav .navbar-brand .yellow
{
    color: #f5b82e;
}
nav .navbar-brand .green
{
    color: #2e944b;
}

main .form-control
{
    /* Center form controls */
    display: inline-block;

    /* Override Bootstrap's 100% width for form controls */
    width: auto;
}

main
{
    /* Scroll horizontally as needed */
    overflow-x: auto;

    /* Center contents */
    text-align: center;
}

main img
{
    /* Constrain images on small screens */
    max-width: 100%;
}

.index th {
    padding: 0 20px;
}

.share_input {
    margin: 0 20px;
}

.card-detail {
    text-align: left;
    padding-bottom: 0;
}
.card-detail p {
    margin-bottom: 0;
}

.card-buttons {
    position: absolute;
    bottom: 10px;
    right: 10px;
}

.modal {
    left: 50%;
    transform: translate(-50%, 0);
}