{% extends "layout.html" %}

{% block title %}
    Log In
{% endblock %}

{% block main %}
  <div class="section calendar-container">
    <table id="show-table"></table>
    <div class="alert alert-danger" id="calendar-alert" role="alert" hidden>
      A simple danger alert with <a href="#" class="alert-link">an example link</a>. Give it a click if you like.
    </div>
    <div id="calendar"></div>
  </div>

  <script src="static/calendar.js"></script>

  <!-- fullcalendar.io -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fullcalendar@5.6.0/main.min.css">
  <script src="https://cdn.jsdelivr.net/npm/fullcalendar@5.6.0/main.min.js"></script>
  
  <!-- rrule lib -->
  <script src="https://cdn.jsdelivr.net/npm/rrule@2.6.6/dist/es5/rrule.min.js"></script>

  <!-- the rrule-to-fullcalendar connector. must go AFTER the rrule lib -->
  <script src='https://cdn.jsdelivr.net/npm/@fullcalendar/rrule@5.6.0/main.global.min.js'></script>
{% endblock %}


