{% extends "layout.html" %}

{% block title %}
    About Us
{% endblock %}

{% block main %}
<div class="privacy-container">
    <div class="container px-md-0 py-5"> 
        <h2>Privacy Policy</h2>
        <p>This privacy policy discloses the privacy practices for kdrama-kalendar.heroku-app.com, with web app name "Kalendar". This privacy policy applies solely to information collected by this web site. It will notify you of the following:</p>
        <ul>
            <li>What personally identifiable information is collected from you through the web site, how it is used and with whom it may be shared.</li>
            <li>Information Collection, Use, and Sharing.</li>
            <li>What choices are available to you regarding the use of your data.</li>
            <li>The security procedures in place to protect the misuse of your information.</li>
        </ul>
        <h3>Personally Identfiable Information</h3>
        <p>Kalendar does not collect any personally identifiable information from its users nor does it track user activity. The only data that is used and transferred across
            the various processes is Korean Drama data and your Google Calendar information.
        </p>
        <h3>Information Collection, Use and Sharing</h3>
        <p>I am the sole manager of the information collected on this site. I only have access to/collect information that you voluntarily give us via Google's OAuth verification. 
            The site does not store any of the data accessed from Google outside of the session.</p>
        <p>In order to utilize the sync function of Kalendar and send data to your Google Calendar, I ask for permission to access your Google Calendar account information.
            Below are the information and permissions we request for and how we use them:
        </p>
        <ul>
            <li><span class="kalendar-violet">Read and access your list of Google Calendars and their resource information: </span>We use this to identify whether a Calendar with the name "Kalendar KDramas" exists. 
            </li>
            <li><span class="kalendar-violet">Create secondary Google Calendars: </span>If there is no existing "Kalendar KDramas", Kalendar creates one so that your events from other sources don't get mixed up with Kalendar show events.</li>
            <li><span class="kalendar-violet">Access and read event data from your Calendars: </span>If Kalendar finds a matching Google Calendar with name "Kalendar KDramas", it reads the event data from that Calendar.
                We use this data to cross-check whether a show event for the KDrama title is already existing in your calendar and to prevent creating duplicate events when syncing data to your Calendar.
            </li>
            <li><span class="kalendar-violet">Write to your Google Calendar: </span>Whenever you decide to sync show information from Kalendar to your Google Calendar, we create recurring events and 
                pass the show title, start time, end time, frequency, air days, and network to Google as event data. We need your permission to automate the event creation step. 
            </li>
            <li><span class="kalendar-violet">Delete Google Calendars and Calendar events: </span>When you delete a show from the watchlist, you will be asked whether you want to delete the show's events from Google
                Calendar as well. We will need your permission to do this. The previous permissions are also used in this step as we get the "Kalendar KDramas" Calendar ID, get the List 
                of events for that corresponding ID, match the show title with the event summary and then delete it if it exists. The same goes for when you decide to delete the entire "Kalendar KDramas" 
                Calendar from your Google Calendars. 
            </li>
        </ul>
        <p></p>
        <h3>Your Choices and Control Over Information</h3>
        <p>You may use Kalendar and its functions locally without granting Kalendar access to your Google Calendar data. The calendar plug-in on the web site
            will still work and its data will be saved to your device's browser. If you decide to stop authorizing Kalendar to access your data, you may simply click the Logout
            button.
        </p>
        <h3>Security</h3>
        <p>Because there is no data saved on our servers, the main consideration for Data Security is centered around information transferred to and from Google Calendar.
            Our web host uses SSL encryption for data transfer and Google's OAuth verification process takes the necessary steps to verify app use and security.
        </p>
        <h3>Your Rights</h3>
        <ul>
            <li>See what data we have about you, if any.</li>
            <li>Delete information we send to your Google Calendar.</li>
            <li>Delete the secondary Calendars we create on your behalf.</li>
            <li>Express any concern you have about our use of your data.</li>
        </ul>
        <h3>Updates</h3>
        <p>Our Privacy Policy may change from time to time and all updates will be posted on this page.</p>
        <p>If you feel that we are not abiding by this privacy policy, you should contact us immediately via email at <a href="mailto:kdramacalendar2021@gmail.com">kdramacalendar2021@gmail.com</a>.</p>
    </div>
</div>
{% endblock %}


