{% extends "layout.html" %}

{% block title %}
    About Us
{% endblock %}

{% block main %}
<div class="terms-container">
    <div class="container px-md-0 py-5"> 
        <h2>Terms of Service</h2>
        <p>Please read these terms of service ("terms of service", "terms") carefully before using Kalendar.</p>

        <h3>Conditions of use</h3>
        <p>By using this website, you certify that you have read and reviewed this Agreement and that you
            agree to comply with its terms. If you do not want to be bound by the terms of this Agreement,
            you are advised to leave the website accordingly. Kalendar only grants use and access of this
            website, its products, and its services to those who have accepted its terms.</p>
        
        <h3>Privacy policy</h3>
        <p>Before you continue using our website, we advise you to read our <a href="/privacy">privacy policy</a> regarding our user data collection. 
            It will help you better understand our practices.</p>
        
        <h3>Intellectual property</h3>
        <p>You acknowledge that derivative works found on Kalendar are not the property of the web administrator. 
            They are from various sources credited accordingly on the web site footer and are used for non-commercial purposes. 
            Kalendar claims no ownership over the show information, assets, and related works that are featured on the site.
        </p>

        <h3>Indemnification</h3>
        <p>You agree to indemnify Kalendar and its web master harmless against legal claims
            and demands that may arise from your use or misuse of our services. We reserve the right to
            select our own legal counsel.
        </p>
        
        <h3>Indemnification</h3>
        <p> Kalendar is not liable for any damages that may occur to you as a result of your misuse of our
            website. Kalendar reserves the right to edit, modify, and change this Agreement any time. We shall let our
            users know of these changes through electronic mail. This Agreement is an understanding
            between Kalendar and the user, and this supersedes and replaces all prior agreements regarding
            the use of this website.</p>
    </div>
</div>
{% endblock %}


